<h2 style="text-align: center">University App</h2>

<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    
    <mat-tab label="Faculty">
        <app-university-app-faculty-page></app-university-app-faculty-page>
    </mat-tab>

    <mat-tab label="Group">       
        <app-university-app-group-page></app-university-app-group-page>
    </mat-tab>

    <mat-tab label="Student">
        <app-university-app-student-page></app-university-app-student-page>
    </mat-tab>

</mat-tab-group>